<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 关闭 Netty 连接日志（太吵） -->
    <logger name="io.netty.handler.logging.LoggingHandler" level="WARN"/>
    <logger name="io.netty.handler.codec.http.websocketx.WebSocketServerProtocolHandler" level="WARN"/>
    <logger name="io.netty.handler.codec.http.HttpObjectAggregator" level="WARN"/>
</configuration>
